@import url('https://fonts.cdnfonts.com/css/cobbler');

:root {

    --main-bg-color: #9B886A;
    --title-color: #FFE7BB;
    --left-box-color: #B9945D;
    --left-text-color: #e9cea5;
    --right-box-color: #D3B07D;
    --right-text-color: #a18152;
}

::-webkit-scrollbar {

    display: none;
    
}

body {

    background-color: var(--main-bg-color);
    font-family: 'Cobbler', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.hidden {

    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
}

.show {

    opacity: 1;
    filter: blur(0);
}

h1 {
    
    padding: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -40px;
    font-size: 100px;

    color: var(--title-color);
}

.about {

    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {

    scale: 0.6;
    justify-content: center;
    border-radius: 0px;
    background: #9B886A;
    
}

.description {

    max-width: 25%;
}

.description-text {

    font-size: 30px;
    color: var(--left-text-color);
    margin: 30px;
}

img {

    scale: 1.1;
}