@import url('https://fonts.cdnfonts.com/css/cobbler');

:root {

    --main-bg-color: #f1e7bb;
    --title-color: #c4af8f;
    --left-box-color: #B9945D;
    --left-text-color: #e9cea5;
    --right-box-color: #D3B07D;
    --right-text-color: #a18152;
}

body {

    background-color: var(--main-bg-color);
    color: var(--title-color);
    font-family: 'Cobbler', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.hidden {

    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
}

.show {

    opacity: 1;
    filter: blur(0);
}

h1 {
    
    padding: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -40px;
    font-size: 100px;
}

#portrait {

    transform: scale(0.2);
    margin-bottom: 90px;
    margin-left: 25px;
}

.container {

    background-color: var(--main-bg-color);

    display: flex;
    justify-content: center;
}

.container .popout-hitbox {

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    margin-top: 60px;
}

.container .popout-hitbox .pane {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 430px;
    cursor: pointer;
    border: 10px solid #8b7a5f;
    background-color: var(--title-color);
    color: #e9cea5;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 50px;

    position: absolute;
}

.container .popout-hitbox .popout {

    border: 10px solid #8b7a5f;
    background-color: var(--title-color);
    border-radius: 50px;
    color: #e9cea5;

    z-index: -999;
    width: 400px;
    height: 390px;
    cursor: pointer;
    
    overflow: hidden;
    transition: 0.3s;
    transform: scale(0.7);

    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .popout-hitbox .popout .popout-text {

    font-size: 30px;
    text-align: left;
    width: 400px;
    word-wrap: break-word;
    color: #5f5341;

    margin-right: 40px;
}

.container .popout-hitbox:hover .pane {

    transform: rotate(-4deg);
    margin-left: -400px;
}

.container .popout-hitbox:hover .popout {

    transform: translateX(200px);
    margin-top: -30px;
    width: 600px;

    box-shadow:  12px 12px 24px #c3bb97,
             -12px -12px 24px #ffffdf;
}

#back {

    transition: 0.3s;
}

#back:hover {

    transform: scale(1.1);
}





