@import url('https://fonts.cdnfonts.com/css/cobbler');

:root {

    /*main page*/
    --main-bg: #FFE7BB;
    --main-text: #998C77;
    /*left*/
    --left-color: #8f7957;
    /*right*/
    --right-color: #e9cca1;
}

h1 {
    
    padding: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -40px;
    font-size: 100px;
}


h2 {

    margin-top: 10px;
    color: var(--left-text-color);
    font-size: 50px;
}

body {

    background-color: var(--main-bg);
    color: var(--main-text);
    font-family: 'Cobbler', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
    display: flex;

    padding-bottom: 50px;
}

.contact-left {

    width: 800px;
    height: 400px;
    padding: 40px 60px;
    border-radius: 63px;
    border: 10px solid #726247;
    background-color: var(--left-color);
    color: var(--right-color);
    
    position: absolute;
    margin-left: -300px;
}

.contact-right {

    width: 600px;
    height: 400px;
    padding: 40px 60px;
    border-radius: 63px;
    border: 10px solid #726247;
    background-color: var(--right-color);
    color: var(--left-color);

    margin-right: -550px;
    position: relative;
}

.container p {

    margin-bottom: 40px;  
}

.input-row {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {

    flex-basis: 45%;
    
}

input {

    width: 100%;
    border: none;
    border-bottom: 1px solid var(--left-box-color);
    outline: none;
    padding-bottom: 5px;
    background-color: var(--right-box-color);
    
    color: var(--right-text-color);
}

textarea {

    width: 100%;
    height: 140px;
    border: 1px solid var(--left-color);
    outline: none;
    padding-bottom: 10px;
    background-color: var(--right-color);
    box-sizing: border-box;
    
    color: var(--right-text-color);
}

label {

    margin-bottom: 6px;
    display: block;
    color: var(--right-text-color);
    font-weight: bold;
}

button {

    background-color: var(--left-text-color);
    outline: none;
    border: none;
    width: 130px;
    height: 45px;
    border-radius: 30px;
    margin-top: 20px;
    color: var(--right-text-color);
    box-shadow: 0px 5px 15px 0px rgba(80, 62, 22, 0.3);

    transition: 0.3s;
}

button:hover  {

    transform: scale(1.1);
}

tr td:first-child {

    padding-right: 30px;
}

tr td {

    padding-top: 10px;
}

.hidden {

    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
}

.show {

    opacity: 1;
    filter: blur(0);
}

::placeholder {

    color: var(--left-color);
    opacity: 60%;
}

.icons {

    font-size: 50px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
    color: var(--right-color);
}

i {

    color: var(--right-color);
    transition: 0.3s;
}

i:hover {

    transform: scale(1.1);
}

#left-text {

    width: 50%;
    word-wrap: break-word;
}

#back {

    transition: 0.3s;
}

#back:hover {

    transform: scale(1.1);
}
