@import url('https://fonts.cdnfonts.com/css/lt-bump');

:root {

    /*main page*/
    --main-bg: #998C77;
    --main-text: #FFE7BB;
    /*div border*/
    --main-border:  #96856c;
    /*edu panel*/
    --edu-panel: #FFEAC2;
    --edu-text: #867966;
    /*edu pane*/
    --skills-panel: #B9A78D;
    --skills-text: #746957;
    /*exp panel*/
    --exp-panel: #BAA27F;
    --exp-text: #5E4A30;

}

::-webkit-scrollbar {

    display: none;
    
}

body {

    background-color: var(--main-bg);
    color: var(--main-text);
    font-family: 'LT Bump', sans-serif;

    padding: 0;
    margin: 0;
    height: 100vh;
}

h1 {
    
    padding: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -40px;
    font-size: 100px;
}

.hidden {

    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
}

.show {

    opacity: 1;
    filter: blur(0);
}

#back {

    transition: 0.3s;
}

#back:hover {

    transform: scale(1.1);
}
