@import url('https://fonts.cdnfonts.com/css/cobbler');

html {

    scroll-behavior: smooth;
}

:root {

    /*main page*/
    --main-bg: #FFE7BB;
    --main-text: #998C77;
    /*div border*/
    --main-border:  #96856c;
    /*edu panel*/
    --edu-panel: #FFEAC2;
    --edu-text: #867966;
    /*edu pane*/
    --skills-panel: #B9A78D;
    --skills-text: #746957;
    /*exp panel*/
    --exp-panel: #BAA27F;
    --exp-text: #5E4A30;

}

body {

    background-color: var(--main-bg);
    color: var(--main-text);
    font-family: 'Cobbler', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

h1 {
    
    padding: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -40px;
    font-size: 100px;
}

.hidden {

    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
}

.show {

    opacity: 1;
    filter: blur(0);
}

label {
    display: block;
}

.container {

    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 80px;
    align-items: center;
}

.container .panel {

    width: 900px;
    height: 600px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--main-border);
    border-radius: 63px;
    transition: 0.5s;
    background: var(--edu-panel);

    transform: scale(0.7);
    overflow: hidden;
}

.container .panel:hover {
    transform: scale(0.8);
    
    box-shadow:  5px 5px 27px #a19b7d,
             -5px -5px 27px #fffff9;
}

.container .panel .icon {

    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--edu-panel);
    transition: 0.5s;
    border-radius: 63px;
    z-index: 1;
    display: flex;
}

.container .panel:hover .icon {

    top: 20px;
    right: clac(50% - 40px);
    width: 80px/2;
    height: 240px;
}

.container .panel .text {

    text-align: center;
    padding-top: 240px;
    margin: 40px;
    font-size: 25px;
    color: var(--edu-text);
}

.container .pane {

    width: 430px;
    height: 430px;
    cursor: pointer;
    border: 10px solid var(--main-border);
    position: relative;
    background-color: var(--skills-panel);
    color: var(--skills-text);
    text-align: center;
    overflow: hidden;
    margin-bottom: 100px;
    transition: 0.5s;
    border-radius: 50px;
    transform: scale(0.7);
}

.container .pane:hover {
    transform: scale(0.9);
    
    box-shadow:  20px 20px 60px #a7957a,
             -20px -20px 60px #e1c9a4;
}

.container .pane .title {

    top: 0;
    left: 0;
    font-size: 70px;
    background-color: var(--title-color);
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 63px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .pane:hover .title {

    top: 20px;
    right: clac(50% - 40px);
    width: 80px/2;
    height: 50%;
}

.container .pane .icon {

    text-align: center;
    margin-top: 0px;
    font-size: 40px;
    letter-spacing: 5px;
}

#tools {

    font-size: 80px;
}

#programming {

    font-size: 80px;
}

#more {

    font-size: 30px;
    letter-spacing: normal;
}

#code {


    font-size: 50px;
}

#exp-panel {

    background: var(--exp-panel);
    color: var(--exp-text);
    margin-bottom: 300px;
    width: 800px;
}

#exp-icon {

    background-color: var(--exp-panel);
    color: var(--exp-text);
    font-size: 50px;
    display: flex;
    text-align: center;
}

#exp-text {

    text-align: center;
    padding-top: 240px;
    margin: 40px;
    font-size: 25px;
    color: var(--exp-text);
}

image {

    display: block;
    margin: 0 auto;
    
}

ul {

    text-align: left;
}

#exp-list {

    font-size: 20px;
}

#back {

    transition: 0.3s;
}

#back:hover {

    transform: scale(1.1);
}





