@import url('https://fonts.cdnfonts.com/css/cobbler');

:root {

    /*main page*/
    --main-bg: #FFE7BB;
    --main-text: #9b886a;
}

body {

    background-color: var(--main-text);
    font-family: 'Cobbler', sans-serif;
}


.hidden {

    opacity: 0;
    filter: blur(3px);
    transition: all 1.3s;
}

.show {

    opacity: 1;
    filter: blur(0);
}

a {

    text-decoration: none;
    color: #aaa191;
    margin-top: -10px;
    margin-left: 20px;
    transition: 0.3s;
}

.container {

    display: inline-block;
}

.item {

    position: relative;
    letter-spacing: 6px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    transition: 0.24s;
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
    transform-origin: left top;

    display: flex;
    align-items: flex-end;

    border: 10px solid #9B886A;

    border-radius: 20px;
}

.item:hover {

    color: #fdfbe4;
    transform: scale(1.05);
    transform-origin: left;
    background: #9B886A;
    box-shadow:  9px 9px 18px #85755b,
             -9px -9px 18px #b19b79;

    border: 10px solid #FFE7BB;
}

.item:hover a {

    color: #FFE7BB;
}

.heading {

    font-size: 100px;

    padding-bottom: 10px;
}



