@import url('https://fonts.cdnfonts.com/css/cobbler');

:root {

    /*main page*/
    --main-bg: #FFE7BB;
    --main-text: #9b886a;
}

::-webkit-scrollbar {

    display: none;
    
}

body {

    background-color: var(--main-text);
    font-family: 'Cobbler', sans-serif;
    margin: 0;

    display: flex;
}


.hidden {

    opacity: 0;
    filter: blur(3px);
    transition: all 1.3s;
}

.show {

    opacity: 1;
    filter: blur(0);
}

a {

    text-decoration: none;
    color: #FFE7BB;
    transition: 0.3s;

    padding: 20px;

    text-align: center;
}

.container {

    display: flex;

    width: 100%;

    padding-bottom: 30px;
}

.item {

    position: relative;
    letter-spacing: 6px;
    transition: 0.24s;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    transform-origin: left top;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    width: fit-content;
}

.item:hover {

    color: #fdfbe4;
    transform: scale(1.05);
    transform-origin: left;
    background: #9B886A;
    box-shadow:  9px 9px 18px #85755b,
             -9px -9px 18px #b19b79;
}

#box {

   
    border-radius: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {

    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {

    display: flex;
    width: 100%;
    flex-direction: column;
}

canvas {

    height: 100%;
}

#hi {

    color: #FFE7BB;
    font-size: 100px;

    margin: 30px;

    text-align: center;
}

#hello {

    color: #FFE7BB;
    font-size: 30px;
    margin: 30px;

    text-align: center;
}

.text  {

    color: #FFE7BB;
    margin: 30px;
}

.nonitem {

    position: relative;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    width: fit-content;
    color: #FFE7BB;
}

